*{
    padding: 0;
    margin: 0;

}
body {
    background-color: rgb(237,	238, 240);
}


div a svg {
    margin-right: 10px;
    width: 27px;
    height: 27px;
}


.redes ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}
.redes svg{
    width: 27px;
    height: 27px;
    color: white;
}
.paginas svg {
    width: 40px;
    height: 40px;
    
}
.video{
    display: flex;
    justify-content: center;
    align-content: center;
}

.tweets {
    max-width: 250px;
    max-height: 500px;
    overflow-y: scroll; 
  }
  
img {
    max-width: 100%;
    height: auto;
}
section {
    
    margin-top: 50px;
}

footer {
    color: white;
    background-color: rgb(12, 12, 12);
display: flex;
justify-content: space-between;
}
footer ul{
    list-style: none;
}

.logo {
        display: flex;
        justify-content: left;
        align-items: center;
}

.redes {
    display: flex;
    justify-content: left;
    align-items: last baseline;
}
footer h2 {
    color: rgba(0, 118, 209, 0.788);
}
.iframe iframe {
    max-width: 100%;
    height: auto;

}
div svg {
    color: rgb(85, 85, 85);
    width: 37px;
    height: 37px;
}

.mibtn {
    color: rgb(255, 255, 255);
    background-color: red;
} 
        

.navcolor {
    background-color: rgba(69, 7, 98, 10);
    color: white;
}
.navcolor ul a {
    color: white;
}
.navcolor div svg {
color: white;
}
.navcolor div a {
    color: white;
}

.mi-contenedor {
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    border: 0;
    margin: 10px;
    overflow-x: auto;
    overflow: auto;
    overflow-y: auto;

}

.mi-contenedor-2 {
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    border: 0;
    margin: 10px;
    overflow-x: auto;
    overflow: auto;
    overflow-y: auto;

}


p {
    text-align: start;
}
@media (max-width: 767px) {
    .tweets {
    display: none;
    }
    iframe {
        width: 100%;
        height: auto;
    }
    .footer {

    }
    
    }

@media only screen and (max-width: 480px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .logo img {
      width: 150px;
    }
  
    div:nth-of-type(2),
    div:nth-of-type(3) {
      margin-top: 20px;
      text-align: center;
    }
  
    div:nth-of-type(2) ul,
    div:nth-of-type(3) ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    .redes ul {
      display: flex;
      justify-content: center;
      margin: 20px 0 0;
      padding: 0;
      list-style: none;
    }
  
    .redes ul li {
      margin-right: 10px;
    }
  
    .redes ul li:last-child {
      margin-right: 0;
    }
  }
  