%flexcen {
    display: flex;
    align-items: start;

}

%margenes {
    margin: 0;
    padding: 0;
    border-radius: 10px;

}

%navcontent{
    display: flex;
    align-content: center;
    justify-content: left;
    background:radial-gradient( #391060c1, #260240);
    padding-top: 10px;
    margin-top: 0;
    margin-right: 0;
    padding:0;

}

%resetl{
    list-style: none;
    text-decoration: none;
}
%reset {
    padding: 0;
    margin: 0;

}

%listas{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: white;
}

%iconored {
    gap: 20px;
    width: 27px;
    color: white;
}

