$deco: (
    margen: 0,
    separador:10px,
    centro:center,
    borde: 12px,
    fondo:white,
    fondo1: black,
    fondobody:rgb(237,	238, 240),
    listdeco:none,
    icon:20px,
    ancho:100%,
    anchoconmargen:31%,

)

